body{
  font-family: 'Courier New', monospace;
  table{
    border: 2px solid #eee;
    font-size: 14px;
    border-collapse: collapse;
    width: 250px;
    thead{
      background: #eee;
    }
    tbody{
      background: #fff;
      width: 230px;
      td{
        &:first-child{
          color:red
        }
        &:last-child{
          color: blue;
        }
      }
      .disabled{
        opacity:.3
      }
      .today{
        font-weight: bold;
      }
    }
    tfoot tr{
      background: #eee;
      text-align: center;
      font-weight: bold;
    }

    th, td{
      text-align: center;
      padding: 8px;
    }
    #prev,
    #next,
    #today{
      cursor: pointer;
      user-select: none;
    }
  }
}